.button {
  border-radius: 25px;
  background-color: var(--color-amarillo);
  width: 100%;
  border-color: transparent;
  box-shadow: none;
  padding: 9px 0;
  color: var(--color-blanco);
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0 3px 6px black;
  cursor: pointer;
}
