.main {
  min-height: 100dvh;
  min-width: 100dvw;
  background-image: url('../../assets/images/FondoAmarillo.jpg');
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  justify-content: space-around;
}

.mainFondoBlanco {
  overflow: hidden;
  min-height: 100dvh;
  min-width: 100dvw;
  background-image: url('../../assets/images/FondoBlanco.png');
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  justify-content: space-between;
  transition: all ease 1s;
}
