.main {
  min-height: 100vh;
  width: 100%;
  background-image: url('../../assets/images/FondoAmarillo.jpg');
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.mainFondoBlanco {
  min-height: 100vh;
  width: 100%;
  background-image: url('../../assets/images/FondoBlanco.png');
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
}
