.button {
  border-radius: 25px;
  background-color: var(--color-amarillo);
  width: 100%;
  border-color: transparent;
  padding: 9px 0;
  color: var(--color-blanco);
  font-weight: 700;
  font-size: 14px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
