.backgroundCard {
  height: 100dvh;
  width: 100dvw;
  backdrop-filter: blur(3px);
  position: absolute;
  z-index: 1500;
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.container {
  height: 85dvh;
  width: 100dvw;
  z-index: 2000;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('../../assets/images/FondoBlanco.png');
  border: 5px solid var(--color-amarillo);
  color: var(--color-gris-medio);
  justify-content: space-around;
  font-family: var(--font-roboto-regular);
  padding-bottom: 10px;
}

.botonCerrar {
  position: absolute;
  background-color: var(--color-danger);
  right: 10px;
  top: 10px;
  border-radius: 100%;
  color: white;
  border: none;
  width: 25px;
  height: 25px;
}

.containerImage {
  transform: translateY(-50%);
  z-index: 100;
}

.containerImage .image {
  border-radius: 100%;
  border: 5px solid var(--color-amarillo);
  object-fit: cover;
  object-position: center 0px;
}

.containerInfo {
  margin-top: -80px;
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--color-blanco);
  font-family: var(--font-roboto-bold);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.containerInfo .pNombre {
  font-size: 18px;
  color: var(--color-gris-medio);
}
.containerInfo .pProfesion {
  font-size: 14px;
  color: var(--color-gris-medio);
}
.containerInfo .spanExperiencia {
  font-family: var(--font-helvetica-italic);
  color: var(--color-gris-medio);
}
.ulValoracion {
  display: flex;
  gap: 10px;
  font-size: 16px;
  color: var(--color-gris-medio);
  background-color: var(--color-silver);
  list-style: none;
  width: 90%;
  border-radius: 14px;
  align-items: center;
  text-align: center;
  box-shadow: 0 3px 10px rgb(94, 94, 94);
  height: 35px;
  font-family: var(--font-roboto-bold);
}

.ulValoracion .li {
  width: 33%;
  align-content: center;
  .buttonAgregarFavoritos {
    background-color: transparent;
    border: none;
    font-family: inherit;
    color: inherit;
  }
}

.ulValoracion li button {
  font-size: 12px;
}

.ulValoracion .li:nth-child(1) {
  font-size: 16px;
}
.ulValoracion .li:nth-child(2) {
  border-left: 5px solid white;
  border-right: 5px solid white;
  align-content: center;
  font-size: 16px;
}
.buttonMasInfo {
  background-color: var(--color-amarillo);
  padding: 6px 10px;
  border-radius: 14px;
  font-family: var(--font-roboto-bold);
  font-size: 13px;
  max-width: 250px;
  border: none;
  box-shadow: 0 3px 10px rgb(94, 94, 94);
  color: var(--color-gris-medio);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconPlus {
  position: absolute;
  background-color: #e8b900;
  padding: 2px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  transform: translateX(-100%);
}

.pTrabajosRealizados {
  width: 100%;
  background-color: var(--color-amarillo);
  font-family: var(--font-roboto-italic);
  color: var(--color-gris-medio);
  text-align: center;
  align-content: center;
  font-size: 17px;
  padding: 3px 0;
}
.ulTrabajosRealizados {
  display: flex;
  list-style: none;
  width: 90%;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ulTrabajosRealizados::-webkit-scrollbar {
  display: none;
}
.ulTrabajosRealizados .li {
  padding: 0 10px;

  width: 80%;
  border-left: 3px solid var(--color-amarillo);
  font-size: 11px;
  text-align: center;
}

.ulTrabajosRealizados .li:nth-child(1) {
  border: none;
}
.ulTrabajosRealizados .li .image {
  border-radius: 100%;
  object-fit: cover;
  border: 3px solid var(--color-amarillo);
}
.buttonContactar {
  background-color: var(--color-amarillo);
  padding: 5px 10px;
  border-radius: 14px;
  font-family: var(--font-roboto-bold);
  font-size: 16px;
  max-width: 250px;
  border: none;
  box-shadow: 0 3px 10px rgb(94, 94, 94);
  color: var(--color-gris-medio);
}

.container p {
  margin: 0;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-8 22:35:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
