@font-face {
  font-family: 'Florida';
  src: url('../assets/fonts/Florida\ Project\ Phase\ One/FloridaProjectPhaseOne.otf');
}
@font-face {
  font-family: 'Cooper-Black';
  src: url('../assets/fonts/cooper/fonts/otf/Cooper-Black.otf');
}
@font-face {
  font-family: 'Roboto-regular';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-bold';
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Helvetica-Neue-Regular';
  src: url('../assets/fonts/helvetica-neue-5/HelveticaNeueLight.otf');
}
@font-face {
  font-family: 'Helvetica-Neue-Italic';
  src: url('../assets/fonts/helvetica-neue-5/HelveticaNeueItalic.ttf');
}
@font-face {
  font-family: 'Helvetica-Neue-Bold';
  src: url('../assets/fonts/helvetica-neue-5/HelveticaNeueBold.otf');
}
@font-face {
  font-family: 'Roboto-italic';
  src: url('../assets/fonts/Roboto/Roboto-Italic.ttf');
}

:root {
  --color-amarillo: #fcd200; /* Amarillo */
  --color-gris-medio: #545454; /* Gris Medio */
  --color-blanco: #ffffff; /* Blanco */
  --color-negro-transparente: #00000029; /* 
  Negro Transparente */
  --color-silver: #c7c7cc;
  --color-gris: #666666; /* Gris */
  --color-naranja: #ff8000; /* Naranja */
  --color-negro-transparente2: #00000059; /* Negro Transparente */
  --color-danger: #f75252;
  --font-florida: 'Florida';
  --font-cooper-black: 'Cooper-Black';
  --font-roboto-regular: 'Roboto-regular';
  --font-roboto-bold: 'Roboto-bold';
  --font-roboto-italic: 'Roboto-italic';
  --font-helvetica-regular: 'Helvetica-Neue-Regular';
  --font-helvetica-bold: 'Helvetica-Neue-Bold';
  --font-helvetica-italic: 'Helvetica-Neue-Italic';
  --box-shadow: 0px 0px 10px rgb(26, 26, 26);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.leaflet-popup-content-wrapper {
  background-color: transparent !important;
  width: fit-content !important;
  box-shadow: none;
}
.leaflet-popup-content {
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}
.leaflet-popup-tip-container {
  bottom: -20px !important;
}
.leaflet-popup-close-button {
  font-size: 30px !important;
  background-color: #ff0000 !important;
  border-radius: 100% !important;
  text-align: center !important;
  font-weight: bolder !important;
  color: white !important;
  margin-right: 20px;
  margin-top: 20px;
}
