.main {
  font-family: var(--roboto);
  background-image: url('../assets/images/FondoAmarillo.jpg');
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .title {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.main .inputs {
  width: 100%;
}
.main .input {
  margin-top: 1px;
  width: 100%;
  height: 46px;
  border: 1.5px solid var(--color-gris);
  border-radius: 4px;
}
.main .inputs .label {
  font-weight: 700;
  margin-left: 14px;
  font-size: 17px;
  color: var(--color-gris-medio);
}
.resetPassword {
  font-size: 14px;
  border-bottom: 1px solid var(--color-gris-medio);
  font-style: normal;
  padding-bottom: 23px;
}
.resetPassword .p {
  color: var(--color-gris-medio);
  .link {
    color: var(--color-naranja);
    text-decoration: none;
  }
}

.register {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
}

.register .p {
  font-size: 28px;
  font-family: var(--font-cooper-black);
  color: var(--color-gris);
}
.register .span {
  color: var(--color-gris-medio);
  font-family: var(--font-roboto-bold);
  font-size: 20px;
}
.register .containerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 41px;
}

.register .registerButtons {
  cursor: pointer;
  font-family: var(--font-roboto-bold);
  background-color: var(--color-blanco);
  color: var(--color-naranja);
  padding: 13px 34px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  box-shadow: 0px 4px 10px black;
}
