.ul {
  width: 100%;
  align-content: flex-start;
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-left: 30px;
  font-family: var(--font-helvetica-regular);
  font-size: 14px;
  color: var(--color-gris);
  .li {
    min-width: 120px;
  }
}
.p {
  font-family: var(--font-helvetica-regular);
  font-size: 12px;
  color: var(--color-silver);
  margin: 10px 0;
}

.ubicacionSpan {
  font-weight: 700;
  margin-left: 14px;
  font-size: 12px;
  color: var(--color-gris-medio);
  width: 100%;
  display: flex;
  margin-left: 30px;
  justify-content: left;
  align-items: center;
  gap: 15px;
}

.horariosDeAtencion {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  font-family: var(--font-roboto-bold);
  font-size: 12px;
  color: var(--color-gris-medio);
}

.labelHorarios {
  font-family: var(--font-roboto-bold);
  font-size: 12px;
  color: var(--color-gris-medio);
  text-align: left;
  width: 100%;
  display: block;
  font-weight: 700;
}

.horariosDeAtencion .p {
  font-family: var(--font-roboto-bold);
  font-size: 12px;
  color: var(--color-gris-medio);
  font-weight: 700;
  margin: 0;
}
