.nav {
  top: 52.75px;
  min-height: 100px;
  color: var(--color-blanco);
  padding: 3px 0;
  display: flex;
  align-items: left;
  justify-content: center;
  width: 100%;
  gap: 16px;
  flex-direction: column;
  background-color: var(--color-gris);
  .image {
    padding-left: 14px;
  }
  .p {
    font-size: 36px;
    padding-left: 30px;
    font-weight: light;
    font-family: var(--font-roboto-bold);
  }
}
